body {
  margin: 0;
  padding: 0;
  font-family: tahoma;
  font-size: 25px;
  color: rgb(176, 13, 241);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #afd73f;
  margin: 20px 30%;
  height: 40em;
  border-radius: 20px;
}
h1 {
  color: #fff;
  font-size: 50px;
  font-family: "Acme", sans-serif;
}
.myForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="number"] {
  width: 22em;
  height: 25px;
  margin-bottom: 20px;
}
.aktivitat {
  font-size: 12px;
  padding-left: 16%;
  margin: 0;
  padding-top: 30px;
}

.korperbau label {
  font-size: 15px;
}

select {
  width: 70%;
  margin-left: 16%;
  height: 40px;
  margin-bottom: 20px;
}
.myopt {
  width: 60%;
}

input[type="button"] {
  width: 33%;
  height: 30px;
  color: #fff;
  background-color: #526e05;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
table {
  width: 80%;
  margin-top: 10%;
}

td,
th {
  border: 1px solid #000;
}
tr td:nth-child(1) {
  width: 50%;
}
th {
  background-color: #618401;
  color: #fff;
}
tr {
  color: #000;
  font-size: 22px;
}

@media (max-width: 780px) {
  section {
    background-color: #afd73f;
    margin: 10px;
    height: 30em;
  }
}
